body {
    margin: 0px;
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #BF9788;
}

table {
    margin: auto;
    width: 400px;
    height: 400px;
    padding: 10px;
    align-items: center;
    table-layout: fixed;
}

.cell {
    background-color: #595959;
    color: whitesmoke;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
}

h2, span {
    color: #8C8C8C;
}

.cell:active {
    background-color: #BFBEBA;
}

.cell img {
    width: 25px;
}

.mine {
    background-color: #BF9788;
}

.empty {
    background-color: black;
}